// imported into vite.config.js file
// app variables (strictly no classes)
// any variables declared here are global
$font-sizes: (
  'base': 16px,
  'sm': 14px,
  'md': 18px,
  'lg': 20px,
  'xl': 32px
);
